/* @media (max-width:1085px) {

    .contact{

        display: flex;
        justify-content: space-between;
        gap: 50px;

        .containContact{
            display: flex;
            flex-direction: column;
            width: 100% !important;
            justify-content: right !important;
    
            
        }
    }
    
} */