@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --body_background: #fff;
    --body_color: #000;
    --primary: #e8d5c8;
    --secondary: rgb(249, 83, 2,.9);
    --secondary-orange: rgb(249, 83, 2,.8);
    --light-blue: #e4ebf5;
}

body {
    @apply bg-[111] text-gray-300 font-roboto
}



*::-webkit-scrollbar{
   width: 12px;
   

}


*::-webkit-scrollbar-thumb{
   width: 12px;
   background: rgb(34, 34, 34, .8);
   /* cursor: pointer; */
   transition: .3s ease-in-out;
}
*::-webkit-scrollbar-thumb:hover{
   background: rgb(51, 51, 51, .8);
   cursor: pointer;
}



@media (max-width: 690px) {
    *::-webkit-scrollbar{
        width: 10px;
    }
}
@media (max-width: 490px) {
    *::-webkit-scrollbar{
        width: 0px;
    }
}


.links{
    transition: .2s ease-in-out;
}


@layer components{
   /* .aurora{
    background-image: radial-gradient(125% 125% at 50% 0%, #020617 50%, rgb(221, 51, 92, .7)  )
   } */
    .bar, .bar2, .burger{
        transition: .4s ease-in-out;
    }
   .burger:hover > .bar{
    cursor: pointer;
    transform: translateY(0) ;
    
   }
   .burger:hover > .bar2{
    cursor: pointer;
    transform: translateY(0) ;
    
   }

   .burger.open > .bar{
    transform:  rotate(45deg);
    transition: .4s ease-in-out;
   }
   .burger.open > .bar2{
    transform:  rotate(-45deg);
    transition: .4s ease-in-out;
   }
   .burger.open:hover{
       transform:  rotate(-45deg);
       scale: .9;
       
    }

    .submit{
        transition: .2s ease-in-out;
    }

    .submit:hover{
        @apply gap-5 text-orangee
    }
    .submit:hover > input{
        @apply text-orangee
    }

   /* .linkss::after{
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    left: 0;
    top: -34px;
    background: #fff;
    transition: .3s ease-in-out
   }

   
   .linkss:hover::after{
       width: 90%;
    }
     */


   
     
   

    .burger.open, .window *{
        opacity: 1;
        filter: blur(0px);
    }
    
    .icon{

        transition: .4s ease
    }

    #link:hover > * > .icon{
        rotate: 180deg;
        transition: .5s ease-in-out
    }



    
}

@layer utilities{
    .flex-center{
        @apply flex items-center justify-center;
    }

    .flex-center-between{
        @apply flex items-center justify-between
    }

    .flex-center-gap{
        @apply flex gap-7 items-center 
    }

    .flex-burger{
        @apply gap-4 flex flex-col w-10 h-10 relative
    }

    .btn-flex{
        transition: .2s ease-in-out;
        @apply  lg:text-white/80 font-[roboto]  bg-orangee  font-[900] text-[16px] px-7 py-[10px] hover:bg-[#fff]/80 rounded-full
    }
    

    .text-position{
        @apply text-white text-[18vw] relative left-[350px]
    }
    .text-position2{
        @apply text-white text-[18.5vw] relative left-[0px]
    }

    .flex-opacity{
        @apply h-full max-w-[1400px] mx-auto  pt-[100px] z-[4] w-full flex flex-col leading-[240px] 
    }
    .flex-opacity2{
        @apply h-full max-w-[1400px] mx-auto  pt-[100px] z-[4] w-full flex flex-col leading-[80px] 
    }
    
       
}


/* @media (max-width:1085px) {
    .containContact{
        display: flex;
        flex-direction: column;
    }
    
} */