@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'novea';
    src: url(./Assets/services/PNANoeva-Bold-BF66c38bd26e486.otf);
}

@font-face {
    font-family: 'sign';
    src: url(./Assets/American\ Signature.otf);
}

:root{
    --body_background: #fff;
    --body_color: #000;
    --primary: #e8d5c8;
    --secondary: rgb(249, 83, 2,.9);
    --secondary-orange: rgb(249, 83, 2,.8);
    --light-blue: #e4ebf5;
    --novea: 'novea', sans-serif;
    --sign: 'sign', sans-serif;
}

body {
    @apply bg-[#111] text-gray-300 font-roboto
}



*::-webkit-scrollbar{
   width: 12px;
   

}



*::-webkit-scrollbar-thumb{
   width: 12px;
   background: rgb(34, 34, 34, .8);
   transition: .3s ease-in-out;
}
*::-webkit-scrollbar-thumb:hover{
   background: rgb(51, 51, 51, .8);
   cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: .2s ease; */
}


@media (max-width: 690px) {
    *::-webkit-scrollbar{
        width: 8px;
    }
}
@media (max-width: 490px) {
    *::-webkit-scrollbar{
        width: 0px;
    }
}



input:focus + .line::before{
    width: 100%;
    background: var(--secondary-orange);
    bottom: 0;
    left: 0;
    transition: .4s ease-in-out;
}


/* input:focus > .name{
    color: red !important;
} */

.select::placeholder{
    color: #fff;
}

.select:focus + .line::before{
    width: 100%;
    background: var(--secondary-orange);
    bottom: 0;
    left: 0;
    transition: .4s ease-in-out;
}

.select{
    background: transparent;
    transition: .3s ease;
    cursor: pointer;
    position: relative;
}

.select:focus > option{
    /* background: rgb(249, 83, 2,.1); */
    background: rgb(17, 17, 17, .1);
    backdrop-filter: blur(10px);
    opacity: .2;
    color: red;
    font-weight: 550;
    position: relative;
    margin-top: 10px;
}






.line::before{
    content: '';
    position: absolute;
    width: 0;
    height: .1px;
    background: var(--secondary-orange);
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;
}

.links{
    transition: .2s ease-in-out;
}

@keyframes color {
    0%{
        color: #fff;
        
    }
    50%{
        color: var(--secondary-orange);
        
    }
    100%{
        color: #fff;
        
    }
}

@layer components{
   .siign{
        animation: color infinite 2s ease-in-out;
        
   }


    .bar, .bar2, .burger{
        transition: .4s ease-in-out;
    }
   .burger:hover > .bar{
    cursor: pointer;
    transform: translateY(0) ;
    
   }
   .burger:hover > .bar2{
    cursor: pointer;
    transform: translateY(0) ;
    
   }

   .burger.open > .bar{
    transform:  rotate(45deg);
    transition: .4s ease-in-out;
   }
   .burger.open > .bar2{
    transform:  rotate(-45deg);
    transition: .4s ease-in-out;
   }
   .burger.open:hover{
       transform:  rotate(-45deg);
       scale: .9;
       
    }

    .submit{
        transition: .2s ease-in-out;
    }

    .submit:hover > span{
        @apply gap-5 text-orangee
    }
    .submit:hover > input{
        @apply text-orangee
    }

   /* .linkss::after{
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    left: 0;
    top: -34px;
    background: #fff;
    transition: .3s ease-in-out
   }

   
   .linkss:hover::after{
       width: 90%;
    }
     */

     .hoov:hover > img{
        filter: saturate(1.5);
        transition: .3s ease-in-out;
     }
     
     .hoov:hover > p{
       color: var(--secondary);
        transition: .3s ease-in-out;
     }
     .hoov:hover > h4{
       color: var(--primary);
        transition: .3s ease-in-out;
     }


     .hoov{
        transition: .3s ease-in-out;
        cursor: pointer;
     }

    .late:hover > p{
        color: var(--secondary);
        /* transition: .3s ease; */
        cursor: pointer;
    }
    .late:hover > img{
        filter: saturate(1.5);
        cursor: pointer;
    }


    .late{
        cursor: pointer;
        transition: .4s ease !important;
    }

    .late img, .late p{
        transition: .2s ease !important;
    }
   
     .foot p:hover{
        cursor: pointer;
        transition: .3s ease-in-out;
        @apply text-orangee
     }
   

    .burger.open, .window *{
        opacity: 1;
        filter: blur(0px);
    }
    
    .icon{

        transition: .4s ease
    }

    #link:hover > *{
        rotate: 180deg;
        transition: .5s ease-in-out
    }

    .check{
        transition: .3s ease;
        cursor: pointer;
        border: .1px solid #fff;
        opacity: .8;
        background-color: #000;
        
        padding: 0.1rem;
        accent-color: var(--secondary-orange);
       
        height: 18px;
        width: 20px;
    }

    .box:hover > .pics{
        transition: .2s ease;
        filter: saturate(2) brightness(.8);
        
    }

    .box{
        /* box-shadow: 5px 5px 10px rgb(255, 255, 255, .1); */
        border: .2px solid #fff;
    }


    .box p{
        
        bottom: -70px;
    }

    .box:hover > p{
        transition: .2s ease;
       /* color: var(--secondary); */
       bottom: 12px

        
    }

    .get{
        transition: .3s ease-in-out;
        position: relative ;
    }

    .get:hover{
        color: var(--secondary) !important;
    }

    .get:hover::before{
        height: 0;
        transition: .3s ease-in-out;
    }
    .get:hover::after{
        width: 100%;
        transition: .3s ease-in-out;
        background: var(--primary);
    }

    .get::before, .get::after{
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: var(--secondary);
        top: 0;
        left: 0;
        transition: .3s ease-in-out;
    }

    .get::after{
        bottom: 0 !important;
        z-index: -2;
        height: 100%;
        width: 100%;
        background: var(--primary);
        
    }


    .hov:hover > span{
        color: var(--secondary);
        transition: .3s ease;
    }
    @media (max-width: 690px) {

        .box:hover > p{
            transition: .2s ease;
           bottom: 7px;
           font-size: 15.5px;
           line-height: 16px;   
        }
        
        /* .box .rita{
            font-size: 12px;
        } */
    }
    /* .check::before {
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        transform: scale(0);
        background-color: var(--secondary);
      }

      .check:checked::before {
        transform: scale(.9);
      }

      .check:hover{
        color: var(--secondary);
        transition: .2s ease;
      } */
      
    .buttons:hover{
        border: .1px black;
    }
    .buttons:hover:before{
        height: 100%;
        /* top: 0; */
    }

    .buttons:first-child{
        background: var(--secondary) !important;
    }
    
    .buttons::before, .butt:before{
        content: '';
        z-index: -1;
        width: 100%;
        height: 0%;
        background: var(--secondary);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .3s ease-in-out;
        border-radius: 40px;
        
    }

    .buttons{
        /* overflow: hidden; */
    }
    .buttons::after, .butt::after{
        content: '';
        z-index: -1;
        width: 100%;
        height: 100%;
        background: transparent;
        border: 2px solid rgba(113, 110, 110, .2);
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .3s ease-in-out;
    }

    /* .contact:hover::after{
        height: 100%;
        
        transition: .3s ease-in-out;
    }

    .contact::after, .contact::before{
        content: '';
        z-index: -1;
        width: 100%;
        height: 100%;
        
        background: var(--secondary);
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .3s ease-in-out;
        
    } */

    /* .contact::after{
        background: var(--primary);
        height: 0;
    } */

    .work{
        z-index: 1;
        position: relative;
        overflow: hidden;
    }

    .work:hover{
        color: white;
        /* background: white; */
    }
    .work:hover::before{
       height: 100%;
    }

    .work:before{
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--secondary);
        /* background: black; */
        /* border: 1px solid var(--secondary); */
        /* box-shadow: 2px 2px 4px #fff; */
        width: 100%;
        height: 0;
        transition: .4s ease-in-out
        
    }

    .conns{
        mask-image: linear-gradient(to left, transparent, black 10%,  97%, transparent);
        /* background: radial-gradient(orange 10%, transparent 10.1%, transparent 90%, orange 90.1%); */
    }

    .con{
        margin-top: 10px;
        mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    }
    .con2{
        margin-top: 10px;
        mask-image: linear-gradient(to left, transparent, black 20%, black 80%, transparent);
    }
    .con4{
        mask-image: linear-gradient(to left, transparent, black 30%, black 92%, transparent);
    }
    .con3{
       mask-image: linear-gradient(to left, transparent, black 50%, black 98%, transparent);
       position: relative;
       left: 5px
    }

    .con6{
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        border-radius: 100%;
        background: linear-gradient(to right,cyan, skyblue);
        opacity: .25;
        filter: blur(200px);
        z-index: -1;
        transition: .3s ease-in-out;
    }

    /* <div className="blur-[106px] rotate-[-180deg] h-[100px] relative -left-[0px] top-[0px] bg-gradient-to-r from-cyan-400 to-sky-500"></div> */

    .number{
       -webkit-text-stroke: 2px white;
       color: transparent;
    }
    
    .desc, .brand{
        /* display: none; */
        transition: .3s ease-in-out;
    }

    .brand{
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgb(255, 255, 255, .1);
    }
    
    .div1{
        transition: .3s ease-in-out !important;
        cursor: pointer;
    }
    .div1:hover > .desc{
        transition: .3s ease-in-out !important;
        /* display: block; */
        
    }
    
    /* .brandText:hover > .brand{
        transition: .3s ease-in-out !important;
        rotate: -20deg;
        translate: 10px -10px;
        
    } */
    .div1:hover > .brandText{
        color: var(--secondary);

    }
    .div1:hover >  .brandText .brand{
        /* color: var(--secondary); */
         transition: .3s ease-in-out !important;
        rotate: -20deg;
        translate: 10px -10px;
    }

    .num{
        color: transparent;
        -webkit-text-stroke: 2px white;
        
    }

    /* .story{
        background-size: 40px 40px;
        background-image:
            linear-gradient(to right, rgb(128, 128, 128, .5) .5px, transparent 1px),
            linear-gradient(to bottom, rgb(128, 128, 128, .5) .5px, transparent 1px);
        mask-image: linear-gradient(to left, transparent, black 100%, black 80%, transparent);
        mask-image: linear-gradient(to right, transparent, black 50%, black 40%, transparent);
    } */

    .woo{
        background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
        linear-gradient(to bottom, #80808012 1px, transparent 1px);
        background-size: 24px 24px;
        /* mask-image: linear-gradient(to bottom, transparent, black 1%, black 98%, black); */
    }

    /* .woork{
        background-image: radial-gradient(rgb(229, 231, 235, .2) .5px, transparent .2px);
        background-size: 16px 16px;
    } */
    
    /* .woork{
        background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;

    } */

    .footer{
        mask-image: linear-gradient(to left, transparent, black 10%, black 85%, transparent);
    }

    .soft{
        border-radius: 2rem 8rem 8rem 9rem / 3rem 11rem 6rem 5rem;
        background: var(--secondary);
        padding: 2px 6px;
    }

    .stoo{
        padding-left: 5px;
        mask-image: linear-gradient(to left, transparent, black 15%, rgb(0, 0, 0, .8) 95%, transparent);
    }
}

@layer utilities{
    .flex-center{
        @apply flex items-center justify-center;
    }

    .flex-center-between{
        @apply flex items-center justify-between
    }

    .flex-center-gap{
        @apply flex gap-7 items-center 
    }

    .flex-burger{
        @apply gap-4 flex flex-col w-10 h-10 relative
    }

    .btn-flex{
        transition: .2s ease-in-out;
        @apply  lg:text-white/80 font-[roboto]  overflow-hidden  font-[900] text-[16px] px-7 py-[10px]  rounded-full
    }
    

    .text-position{
        @apply text-white text-[18vw] relative left-[350px]
    }
    .text-position2{
        @apply text-white text-[18.5vw] relative left-[0px]
    }

    .flex-opacity{
        @apply h-full max-w-[1400px] mx-auto  pt-[100px] z-[4] w-full flex flex-col leading-[240px] 
    }
    .flex-opacity2{
        @apply h-full max-w-[1400px] mx-auto  pt-[100px] z-[4] w-full flex flex-col leading-[80px] 
    }
    
       
}


